@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&family=Roboto+Slab:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&family=Roboto+Slab:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --lg-font: "Kaisei Tokumin", serif; /* large fontlar için text family*/
  --sm-font: "Poppins", sans-serif; /* small fontlar için text family (General Font) */
  --pink: #e5345b; /* Sık kullanıcağımız rengi tanıttık */
  --blanchedalmond: #ffebcd;
  --LavenderBlush: #fff0f5;
  --DarkSeaGreen: rgb(143, 188, 143);
  --DarkSeaGreenOpacity: rgb(143, 188, 143, 1);
  --Ivory: #fffff0;
  --clr: rgba(254, 205, 165, 0.4);
  --FloralWhite: #f7f4ee;
  --about: rgb(252, 247, 225);
  --seashell: rgba(255, 245, 238, 0.92);

  --kaisei: "Kaisei Tokumin", serif;
  --poppins-sansherif: "Poppins", sans-serif;
  --robotoslab: "Roboto Slab", serif;
  --dancingscript: "Dancing Script", cursive;
  --Playfairdisplay: "Playfair Display", serif;
  --lato: "Lato", sans-serif;
}

/* Header */
.recipesCol {
  z-index: 3000;
  position: relative;
  /* background-color: var(--blanchedalmond); */
  -webkit-box-shadow: 0 1px 9px 1px rgba(255, 255, 255, 0.1);
  /* box-shadow: 0 1px 10px 11px var(--blanchedalmond); */
}
.recipes {
  /* background-color: blanchedalmond; */
  padding: 3%;
  opacity: 0.88;
}
.recipes h5 {
  display: block;
  text-align: center;
  font-family: var(--lato);
  font-size: 55px;
  letter-spacing: 0.3ch;
}
.recipe-filters {
  max-width: none;
  align-content: center;
}
/* check boxes */
.Check-Boxes {
  font-weight: 700;
  letter-spacing: 0.3ch;
  /* padding-left: 6%; */
  font-size: 17px;
  position: sticky;
  top: 0;
  color: black;
}
input[type="radio"]:checked {
  background-color: #0d7710; /* Seçildiğinde yeşil ton */
  transition: background-color 0.3s ease-in-out;
}
input[type="radio"] {
  appearance: none;
  width: 24px;
  height: 24px;
  background: #eee;
  border-radius: 75%;
  border: 2px solid #024105;
  position: relative;
}

input[type="radio"]:checked::after {
  /* content: "✔"; */
  font-size: 18px;
  position: absolute;
  top: 0px;
  left: 4px;
  color: #4CAF50;
}


/* recipie */

.Check-Boxes {
  position: st;
}

.filter-area {
  box-sizing: border-box;
  justify-content: center;
}

a {
  color: #333;
  text-decoration: none;
  background-color: transparent;
}

@media (max-width: 991px) {
  .recipe-filter {
    max-width: none;
    align-content: center;
    display: flex;
  }
  .filters {
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
  }
  /* filter      { display: none; } */
  /* .filters2 {
    display: none;
  } */
}

@media (max-width: 991px) {
  .recipe-container {
    overflow-y: hidden;
    margin: 60px 0;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: center;
  }

  .dropdown-menu {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 321px) {
  /* smartphones, iPhone, portrait 480x320 phones */

  .recipes h5 {
    display: block;
    text-align: center;
    font-family: var(--lato);
    font-size: 30px;
    letter-spacing: 0.3ch;
    margin-top: 50px;
  }
}

@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .recipe-container {
    justify-content: space-around;
  }

  h5 {
    font-size: 12px;
  }
}

@media (max-width: 748px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .recipes h5 {
    display: block;
    text-align: center;
    font-family: var(--lato);
    /* font-size: 30px; */
    letter-spacing: 0.3ch;
    margin-top: 80px;
  }
}
