
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
html,
body,
#root,
.app,
.RouteConfig,
.content {
  background-color: white;
  height: 100%;
  width: 100%;
 font-family: 'Source Sans Pro ', sans-serif;
}
.RouteConfig{
  display: flex;
  position: relative;
}
.app{
  display: flex;
  position: relative;
}
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background: #443515;
}
::-webkit-scrollbar-thumb{
  background: #11b450;
}
::-webkit-scrollbar-track:hover{
  background: #2c1902;
}